@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');

*{
    padding: 0;
    margin: 0;
    outline: none;
    border: none;
    box-sizing: border-box;

}

img{
    width: 100%;
    display: flex;
}

a{
    text-decoration: none;
}

body{
    font-family: 'Poppins', sans-serif;
    background-color: rgb(102, 102, 102);
}

nav{
   position: fixed;
   top: 0;
   left: 0;
   width: 100%;
   background: rgba(0, 0, 0, 0.8);
   padding: 2rem 2rem;
   transition: 0.3s;
   z-index: 1000;
   display: flex;
   justify-content: center;
   align-items: center;
   transition: background 0.3s ease, box-shadow 0.3s ease;
}

.nav-logo{
    position: absolute;
    left: 2rem;
    max-width: 60px;
    display: flex;
    align-items: center;
    border-radius: 2rem;
}

.nav-links{
    list-style: none;
    display: flex;
    align-items: center;
    gap: 3rem;
}

.link a{
    position: relative;
    padding-bottom: 0.75rem;
    color: #fff;
}

.link a::after{
    content: "";
    position: absolute;
    height: 2px;
    width: 0;
    bottom: 0;
    left: 0;
    background-color: #1d4ed8;
    transition: all 0.3s ease;
}

.link a:hover::after{
    width: 70%;
}

.section {
    opacity: 0;
    transform: translateY(50px);
    transition: all 0.6s ease-in-out;
}

.section.visible {
    opacity: 1;
    transform: translateY(0);
}

.btn{
    padding: 1rem 2rem !important;
    font-size: 1rem !important;
    color: #fff !important;
    background-color: #1144d1 !important;
    border-radius: 5px !important;
    cursor: pointer !important;
    transition: all 0.3s ease !important;
}

.btn:hover{
    background-color: #1e40af;
}

#btn1, #btn2, #btn3, #btn4 {
    padding: 1rem 2rem;
    font-size: 1rem;
    color: #000;
    background-color: #1d4ed8;
    border-radius: 20px;
    cursor: pointer;
    transition: all 0.3s ease;
    margin-top: auto; /* Faz o botão ficar na parte inferior */
}

#btn3 {
    display: inline-block; /* Retira o display block */
    margin-top: auto !important;
}


.container{
    max-width: 900px;
    margin: auto;
    padding: 5rem 2rem;
}

.blur{
    position: absolute;
    box-shadow: 0px 100px 200px 50px #1d4ed8;
    z-index: -100;
}

header{
    position: relative;
    padding-top: 2rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 2rem;
}

header .content h4{
    margin-bottom: 1rem;
    color: #ccc;
    font-size: 1rem;
    font-weight: 600;
}

header .content h1{
    color: #fff;
    margin-bottom: 1rem;
    font-size: 3rem;
    font-weight: 700;
    line-height: 4rem;
}

header .content h1 span{
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 1px #fff;
}

header .content p{
    margin-bottom: 2rem;
    color: #ccc;
}

header .image{
    position: relative;
}

header .image img{
    max-width: 600px;
    margin: auto;
}

section .header{
    margin-bottom: 1rem;
    color: #fff;
    text-align: center;
    font-size: 2.25rem;
    font-weight: 600;
}

.features{
    margin-top: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    
}

.features .card{
    background-color: #27272a;
    padding: 2rem;
    border: 1px solid transparent;
    border-radius: 15px;
    transition: all 0.99s ease;
    width: 100%;
    max-width: 900px;
    margin: auto;
    text-align: justify;
    
}

.features .card:hover{
    background-color: #323232;
    border-color: #1d4ed8;
}

.features .card span{
    display: inline-block;
    background-color: #1e40af;
    padding: 2px 9px;
    margin-bottom: 1rem;
    font-size: 1.75rem;
    color: #fff;
    border-radius: 5px;
}

.features .card h4{
    margin-bottom: 0.5rem;
    color: #fff;
    font-size: 1.5rem;
    font-weight: 600;
    
}

.features .card p{
    color: #fff;
    width: 100%;
    word-wrap: break-word;
    white-space: normal;
    line-height: 1.6;
    text-align: justify;
}

.features .card a{
    display: inline-block;
    margin-top: 1rem;
    color: #fff;
    transition: all 0.99s ease;
}

.features .card a:hover{
    color: #1e40af;
}

@media (max-width: 768px) {
    .features {
        grid-template-columns: repeat(1, 1fr);
    }
}

.sub-header{
    max-width: 600px;
    margin: auto;
    text-align: center;
    color: #ccc;
}

.lista {
    padding-left: 1.5rem;
    margin-top: 1rem;
}

.lista li {
    color: #fff;
    font-weight: 500;
    margin-bottom: 0.5rem;
    list-style: none;
}

.pricing{
    margin-top: 4rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
}

.pricing .card{
    padding: 3rem 2rem;
    background-color: #27272a;
    display: flex;
    flex-direction: column;
    border: 1px solid transparent;
    border-radius: 22px;
    transition: all 0.99s ease;
    height: 100%;
    width: 100%;
    max-width: 100%;
}

.pricing .card:hover{
    background-color: #323232;
    border-color: #1d4ed8;
}

.pricing .card .content{
    flex: 1;
    margin-bottom: 2rem;
}

.pricing .card h4{
    margin-bottom: 1rem;
    color: #fff;
    font-size: 1.2rem;
    font-weight: 500;
}

.pricing .card h3{
    color: #fff;
    padding-bottom: 1rem;
    margin-bottom: 2rem;
    font-size: 2rem;
    font-weight: 600;
    border-bottom: 1px dashed #fff;
}

.pricing .card p{
    color: #fff;
    margin-bottom: 0.75rem;
}

.pricing .card p i{
    color: #ccc;
    font-size: 1.2rem;
    margin-right: 0.3rem;
}

.pricing .card button{
    color: #fff;
    background-color: transparent;
    border: 2px solid  #1d4ed8;
    margin-top: auto;
}

.pricing .card button:hover{
    background-color: #1e40af;
    border-color: #fff;
}

footer{
    position: relative;
    display: grid;
    grid-template-columns: 400px repeat(3, 1fr);
    gap: 2rem;
}

footer .column .logo{
    max-width: 200px;
    margin-bottom: 2rem;
}

footer .column p{
    color: #ccc;
    margin-bottom: 2rem;
}

footer .column .socials{
    display: flex;
    align-items: center;
    gap: 1rem;
}

footer .column .socials a{
    color: #ccc;
    border: 1px solid #ccc;
    padding: 5px 10px;
    font-size: 1.25rem;
    border-radius: 100%;
    transition: all 0.3s ease;
}

footer .column .socials a:hover{
    color: #fff;
    background-color: #1d4ed8;
    border-color: #1d4ed8;
}

footer .column h4{
    color: #fff;
    margin-bottom: 2rem;
    font-size: 1.2rem;
    font-weight: 500;
}

footer .column > a{
    display: block;
    color: #ccc;
    margin-bottom: 1rem;
    transition: all 0.6s ease;
}

footer .column > a:hover{
    color: #1d4ed8;
}

.copyright{
    max-width: 1200px;
    margin: auto;
    padding: 1rem;
    color: #fff;
    font-size: 0.8rem;
    text-align: center;
}

@media (width < 900px){
    .nav-links{
        display: none;
    }
    header{
        grid-template-columns: repeat(1, 1fr);
    }
    header .image{
        grid-area: 1/1/2/2;
    }
    .features{
        grid-template-columns: repeat(2, 1fr);
    }
    .pricing{
        grid-template-columns: repeat(2, 1fr);
    }
    footer{
        grid-template-columns: 1fr 200px;
    }
}

@media (width < 600px){
    header .image::before{
        display: none;
    }

    .features{
        grid-template-columns: repeat(1, 1fr);
    }

    .pricing{
        grid-template-columns: repeat(1, 1fr);
    }

    footer{
        grid-template-columns: 1fr 150px;
    }
}

body {
    margin: 0;
    padding: 0;
    position: relative;
    overflow-x: hidden;
  }
  
  /* Estiliza a onda */
  .wave {
    position: absolute;
    width: 100%;
    height: 100px;
    background: #3498db; /* Cor da onda */
  }
  
  /* Onda no topo */
  .wave-top {
    top: 0;
    left: 0;
    clip-path: ellipse(50% 100% at 50% 100%);
  }
  
  /* Onda na parte inferior */
  .wave-bottom {
    bottom: 0;
    left: 0;
    clip-path: ellipse(50% 100% at 50% 0%);
  }
